<div class="container">
    <h1 class='text-center mt-3'>Memes Ng</h1>

    <p>Made with <a href="https://api.imgflip.com/" target="_blank">Imgflip Meme Generator API</a></p>

    <main class="mt-3">
        <div class="form-row">
            <div class="col">
                <input class="form-control" placeholder="Search for memes" type="text" [(ngModel)]='search'>
            </div>
            <!-- <div class="col">
                <select class='form-control'>
                    <option value="">Order by:</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div> -->
        </div>

        <hr>

        <div *ngIf='!isBusy' class="row">
            <div *ngFor='let meme of memes' class='col-lg-4 col-md-6 mb-3'>
                <div class="card">
                    <div class="card-header">
                        <h5>{{ meme.name }}</h5>
                    </div>
                    <div class="card-body">
                        <img [src]="meme.url" [alt]='meme.name' class='img-thumbnail'>
                    </div>
                    <div class="card-footer">
                        Box count: {{ meme.box_count }}
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf='isBusy' class="col">
            <img id='loading' src="assets/images/loading.gif" alt="Loading...">
            <h5 class="text-center">Loading...</h5>
        </div>
    </main>
</div>
